@import './base.scss';

.main-bg-color {
  background-color: $battleColor;
}
.sub-bg-color {
  background-color: $battleSecondary;
}
.sub-rgba-bg-color {
  background-color: $battleSecondaryRgba;
}
.base-bg-color {
  background-color: $baseColor;
}